/*тест гита*/
/* Установите общие свойства для всех элементов */
* {
  margin: 0; /* Убирает все внешние отступы */
  padding: 0; /* Убирает все внутренние отступы */
  box-sizing: border-box; /* Задает модель расчета размеров элемента. Все размеры элемента (ширина, высота) будут включать в себя padding и border */
  font-family: "Poppins", sans-serif; /* Задает шрифт Poppins как основной, а sans-serif как запасной */
}

/* Убирает маркеры списка для всех элементов li */
li {
  list-style: none;
}

/* Контейнер, используемый для выравнивания элементов */
.container {
  width: 1000px; /* Задает ширину контейнера */
  display: flex; /* Применяет гибкий контейнер, чтобы элементы внутри контейнера выравнивались гибко */
  justify-content: space-around; /* Выравнивает элементы внутри контейнера с равным промежутком между ними */
  align-items: center; /* Выравнивает элементы внутри контейнера по центру по вертикали */
}
/* Стили для заголовка страницы */
.header {
  display: flex; /* Применяет гибкий контейнер, чтобы элементы внутри контейнера выравнивались гибко */
  justify-content: space-between; /* Выравнивает элементы внутри контейнера по краям */
  align-items: center; /* Выравнивает элементы внутри контейнера по центру по вертикали */
  background-color:  #192638; /* Задает фоновый цвет для заголовка */
  height: 100px; /* Задает высоту для заголовка */
  box-shadow: 0px 35px 60px rgba(0, 0, 0, 0.25); /* Задает тень для заголовка */
  position: fixed; /* Фиксирует заголовок в верхней части страницы */
  top: 0; /* Определяет верхний край страницы как позицию для заголовка */
  width: 100%; /* Задает ширину заголовка равной ширине окна просмотра */
  z-index: 20; /* Задает порядок расположения элемента на странице */
}

/* Стили для логотипа в заголовке */
.header__logo {
  text-transform: uppercase; /* Преобразует текст в заглавные буквы */
}

/* Стили для изображений */
img{
  width: 180px; /* Задает ширину изображения */
  height: auto; /* Высота изображения автоматически вычисляется, чтобы сохранить пропорции */
}

/* Стили для меню в шапке */
.header__menu {
  display: flex; /* Устанавливает дисплей в значение flex */
  justify-content: flex-start; /* Выравнивает элементы по горизонтали в начало контейнера */
  column-gap: 25px; /* Устанавливает горизонтальный отступ между колонками */
}

/* Стили для ссылок в меню шапки */
.header__link {
  font-size: 20px; /* Размер шрифта для ссылок */
  font-family: 'Poppins'; /* Шрифт для ссылок */
  text-transform: uppercase; /* Преобразует текст ссылок в верхний регистр */
  color: #9B9DA8; /* Цвет текста ссылок */
  text-decoration: none; /* Убирает подчеркивание текста ссылок */
  position: relative; /* Позиционирование относительно */
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360); /* Анимация перехода */
  display: block; /* Устанавливает дисплей в значение block */
  margin: 20px auto; /* Внешние отступы */
  max-width: 180px; /* Максимальная ширина */
  border-radius: 4px; /* Радиус границ */
  padding: 20px 30px; /* Внутренние отступы */
}

/* Стили для эффекта подчеркивания при наведении на ссылки */
.header__link::after {
  content: ""; /* Содержимое псевдоэлемента */
  width: 0px; /* Ширина псевдоэлемента */
  height: 2px; /* Высота псевдоэлемента */
  background: orange; /* Цвет фона псевдоэлемента */
  position: absolute; /* Позиционирование абсолютное */
  bottom: -5px; /* Отступ снизу */
  left: 0; /* Отступ слева */
  transition: 0.3s ease; /* Анимация перехода */
}

/* Стили для эффекта подчеркивания при наведении на ссылки */
.header__link:hover::after {
  width: 100%; /* Ширина псевдоэлемента */
  transition: 0.3s ease; /* Анимация перехода */
}

/* Стили для кнопок */
a.button2 {
  color: rgba(30, 22, 54, 0.6); /* Цвет текста кнопки */
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset; /* Тень кнопки */
}

/* Стили для кнопок при наведении */
a.button2:hover {
  color: rgba(255, 255, 255, 0.85); /* Цвет текста кнопки при наведении */
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset; /* Тень кнопки при наведении */
}

/* Стили для правой части шапки */
.header__right {
  display: flex; /* Устанавливает дисплей в значение flex */
  align-items: center; /* Выравнивает элементы по вертикали по центру */
  flex: 0 1 300px; /* Устанавливает гибкость элементов */
  white-space: nowrap; /* Устанавливает перенос текста */
}

/* Стили для текста в правой части шапки */
.header__text {
  color: white; /* Цвет текста */
  margin-right: 20px; /* Отступ справа */
}

/* Стили для кнопки контактов в правой части шапки */
.header__contact-button {
  margin-left: auto; /* Выравнивание по левому краю контейнера */
  padding-left: 20px; /* Отступ слева */
  margin-right: 20px; /* Отступ справа */
}

/* Стили для кнопки контактов */
.contact-button {
  display: inline-flex; /* Устанавливает дисплей в значение inline-flex */
  align-items: center; /* Выравнивает элементы по вертикали по центру */
  justify-content: center; /* Выравнивает элементы по горизонтали по центру */
  white-space: nowrap; /* Устанавливает перенос текста */
  padding: 10px 20px; /* Внутренние отступы */
  background-color: #FFA07A; /* Цвет фона кнопки */
  color: #192638; /* Цвет текста кнопки */
  text-decoration: none; /* Убирает подчеркивание текста кнопки */
  border-radius: 5px; /* Радиус границ */
  font-size: 20px; /* Размер шрифта */
  font-family: 'Poppins'; /* Шрифт */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень кнопки */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Анимация перехода */
}


/* Стили для кнопки контактов при наведении */
.contact-button:hover {
  background-color: orange; /* Цвет фона кнопки при наведении */
  color: black; /* Цвет текста кнопки при наведении */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Тень кнопки при наведении */
}

/*modal form*/

/* Стили для кнопки */
.btn {
  padding: 15px 30px; /* Внутренние отступы */
  cursor: pointer; /* Устанавливает курсор в виде указателя */
  outline: none; /* Убирает контур при фокусе */
  background-color: transparent; /* Прозрачный фон кнопки */
  border: 1px solid #111; /* Граница кнопки */
  color: #111; /* Цвет текста кнопки */
  font-family: 'Century Gothic'; /* Шрифт кнопки */
  font-size: 15px; /* Размер шрифта кнопки */
  transition: all 0.3s; /* Анимация перехода */
  border-radius: 5px; /* Радиус границ кнопки */
}

/* Стили для кнопки при наведении */
.btn:hover {
  background-color: orange; /* Цвет фона кнопки при наведении */
  color: black; /* Цвет текста кнопки при наведении */
  transform: translateY(-8px); /* Перемещение кнопки вверх при наведении */
}

/* Стили для модальной формы */
.form-modal {
  width: 100%; /* Ширина формы */
  height: 100%; /* Высота формы */
  position: absolute; /* Абсолютное позиционирование */
  top: 0; /* Отступ сверху */
  left: 0; /* Отступ слева */
  background-color: rgba(0,0,0,0.8); /* Цвет фона формы */
  display: none; /* Скрывает форму */
  justify-content: center; /* Выравнивает элементы по горизонтали по центру */
  align-items: center; /* Выравнивает элементы по вертикали по центру */
  z-index: 10; /* Значение z-index для формы */
}

/* Стили для содержимого модальной формы */
.modal-content {
  width: 450px; /* Ширина содержимого формы */
  background-color: #fff; /* Цвет фона содержимого формы */
  padding: 20px; /* Внутренние отступы */
  position: relative; /* Относительное позиционирование */
  animation: visible 1s 1; /* Анимация появления */
  animation-fill-mode: forwards; /* Заполнение анимации вперед */
  border-radius: 5px; /* Радиус границ */
}

/* Анимация для появления модальной формы */
@keyframes visible {
  from {
      transform: scale(0);
      opacity: 0;
  }
  
  to {
      transform: scale(1);
      opacity: 1;
  }
}

/* Стили для обертки содержимого формы */
.content-wrapper {
  opacity: 0; /* Прозрачность обертки */
  animation: toRight 1s 500ms; /* Анимация перемещения обертки */
  animation-fill-mode: forwards; /* Заполнение анимации вперед */
}
/* Анимация для перемещения обертки содержимого формы */
@keyframes toRight {
  from {
      opacity: 0;
      transform: translateX(-100px);
  }
  
  to {
      opacity: 1;
      transform: translateX(0)
  }
}

/* Стили для кнопки закрытия модальной формы */
.close {
  position: absolute; /* Абсолютное позиционирование */
  font-size: 30px; /* Размер шрифта */
  transform: rotate(45deg); /* Поворот на 45 градусов */
  cursor: pointer; /* Устанавливает курсор в виде указателя */
  transition: all 0.3s; /* Анимация перехода */
  z-index: 1; /* Значение z-index для кнопки */
}

/* Стили для кнопки закрытия модальной формы при наведении */
.close:hover {
  transform: rotate(-45deg) scale(1.3); /* Поворот на -45 градусов и увеличение размера */
}

/* Стили для полей ввода и текстовых областей */
input, textarea {
  width: 60%; /* Ширина полей */
  display: block; /* Устанавливает дисплей в значение block */
  margin: 20px auto; /* Внешние отступы */
  padding: 10px; /* Внутренние отступы */
  outline: none; /* Убирает контур при фокусе */
  border: 1px solid #111; /* Граница полей */
  font-family: 'Century Gothic'; /* Шрифт полей */
  border-radius: 5px; /* Радиус границ полей */
}

/* Стили для текстовых областей */
textarea {
  max-width: 60%; /* Максимальная ширина */
  min-height: 100px; /* Минимальная высота */
}

/* Стили для кнопки отправки */
.submit {
  display: block; /* Устанавливает дисплей в значение block */
  margin: 30px auto 0; /* Внешние отступы */
  background-color: #192638; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
}

/* Стили для группы ввода */
.input-group {
  position: relative; /* Относительное позиционирование */
  margin: 20px auto; /* Внешние отступы */
}

/* Стили для иконки в группе ввода */
.input-group i {
  position: absolute; /* Абсолютное позиционирование */
  top: 10px; /* Отступ сверху */
  left: 50px; /* Отступ слева */
  font-size: 18px; /* Размер шрифта */
  color: #111; /* Цвет шрифта */
  z-index: 0; /* Значение z-index для иконки */
}

/* Стили для поля ввода в группе ввода */
.input-group input {
  width: 60%; /* Ширина поля ввода */
  padding: 10px 10px 10px 35px; /* Внутренние отступы, добавлен отступ слева для текста */
  outline: none; /* Убирает контур при фокусе */
  border: 1px solid #111; /* Граница поля ввода */
  font-family: 'Century Gothic'; /* Шрифт поля ввода */
  border-radius: 5px; /* Радиус границ поля ввода */
}



/* CAROUSEL CSS */
/* Стили для карусели */
.carousel {
  position: relative; /* Относительное позиционирование */
  margin-top: 100px; /* Отступ сверху */
}

/* Стили для тени карусели */
.carousel::after {
  content: ""; /* Содержимое, пустая строка */
  position: absolute; /* Абсолютное позиционирование */
  left: 0; /* Отступ слева */
  top: 0; /* Отступ сверху */
  box-shadow: inset 0px 0px 120px 30px rgba(0,0,0,0.35); /* Тень внутри элемента */
  width: 100%; /* Ширина */
  height: 100%; /* Высота */
  pointer-events: none; /* Отключает события мыши */
}

/* Стили для списка элементов карусели */
.carousel ul {
  overflow: auto; /* Прокрутка при переполнении */
  display: flex; /* Выравнивает элементы в строку */
  height: 40vw; /* Высота, 40% от ширины окна просмотра */
  max-height: 500px; /* Максимальная высота */
  scroll-snap-type: x mandatory; /* Прокрутка элементов по горизонтали */
  scroll-snap-points-y: repeat(100%); /* Промежутки для прокрутки элементов */
  scroll-behavior: smooth; /* Плавная прокрутка */
  background: gray; /* Цвет фона */
  -ms-overflow-style: none; /* Отключает полосы прокрутки для IE и Edge */
  scrollbar-width: none; /* Отключает полосы прокрутки для Firefox */
  width: 100%; /* Ширина */
}

/* Стили для отключения полосы прокрутки для Chrome, Safari и Opera */
.carousel ul::-webkit-scrollbar {
  display: none; 
}

/* Стили для каждого элемента списка в карусели */
.carousel ul li {
  width: 100%; /* Ширина элемента */
  min-width: 100%; /* Минимальная ширина элемента */
  list-style: none; /* Убирает маркеры списка */
  background: url(images/trucks-highway-mountain-sunset.jpg) center center / cover no-repeat; /* Задний фон элемента */
  scroll-snap-align: start; /* Прокрутка элемента в начало контейнера */
  display: flex; /* Выравнивает элементы в строку */
  justify-content: center; /* Выравнивает элементы по горизонтали по центру */
  align-items: center; /* Выравнивает элементы по вертикали по центру */
  color: white; /* Цвет текста */
  font-weight: bold; /* Жирный шрифт */
  font-size: 30px; /* Размер шрифта */
  text-align: center; /* Выравнивает текст по центру */
  text-shadow: 0px 0px 10px rgba(0,0,0,0.75); /* Тень текста */
}
/* Стили для обертки div в каждом элементе списка карусели */
.carousel ul li div {
  z-index: 9; /* Значение z-index для обертки div */
}
/* Стили для ссылки в обертке div в каждом элементе списка карусели */
.carousel ul li div a {
  color: white; /* Цвет текста ссылки */
  display: inline-block; /* Отображает элемент как блочно-строчный */
  background: white; /* Цвет фона ссылки */
  text-shadow: none; /* Убирает тень текста */
  color: black; /* Цвет текста ссылки */
  padding: 5px 15px; /* Внутренние отступы ссылки */
  font-size: 18px; /* Размер шрифта ссылки */
  text-decoration: none; /* Убирает подчеркивание текста ссылки */
  border-radius: 4px; /* Радиус границ ссылки */
  margin-top: 10px; /* Верхний отступ ссылки */
}
/* Стили для упорядоченного списка индикаторов карусели */
.carousel ol {
  position: absolute; /* Абсолютное позиционирование */
  bottom: 15px; /* Отступ снизу */
  display: flex; /* Выравнивает элементы в строку */
  justify-content: center; /* Выравнивает элементы по горизонтали по центру */
  left: 50%; /* Отступ слева */
  transform: translateX(-50%); /* Смещает элемент по горизонтали */
  z-index: 9; /* Значение z-index для списка индикаторов */
}
/* Стили для каждого элемента списка индикаторов карусели */
.carousel ol li {
  list-style: none; /* Убирает маркеры списка */
  padding: 0 5px; /* Внутренние отступы элемента списка индикаторов */
}

/* Стили для ссылки в каждом элементе списка индикаторов карусели */
.carousel ol li a {
  display: block; /* Отображает элемент как блочный */
  height: 15px; /* Высота ссылки */
  width: 15px; /* Ширина ссылки */
  border: 2px solid white; /* Граница ссылки */
  background: transparent; /* Прозрачный фон ссылки */
  border-radius: 100%; /* Радиус границ ссылки */
}
/* Стили для выбранного элемента списка индикаторов карусели */
.carousel ol li.selected a {
  background: white; /* Задний фон выбранного элемента списка индикаторов */
}
/* Стили для кнопок переключения карусели */
.carousel .prev, .carousel .next {
  user-select: none; /* Отключает выделение текста */
  cursor: pointer; /* Курсор в виде указателя */
  font-size: 50px; /* Размер шрифта кнопок */
  color: white; /* Цвет шрифта кнопок */
  position: absolute; /* Абсолютное позиционирование */
  left: 0; /* Отступ слева для кнопки "предыдущий" */
  padding: 15px; /* Внутренние отступы кнопок */
  top: 50%; /* Отступ сверху */
  transform: translateY(-50%); /* Смещает элемент по вертикали */
  z-index: 9; /* Значение z-index для кнопок */
}

/* Переопределяет отступ слева для кнопки "следующий" */
.carousel .next {
  left: auto; /* Отступ слева автоматически */
  right: 0; /* Отступ справа */
}

/* RESPONSIVE CSS */
/* Стили для экранов с максимальной шириной 600px */
@media only screen and (max-width: 600px) {
  .carousel ul li div { /* Выбирает div в каждом элементе списка карусели */
    display: none; /* Скрывает div */
  }
}

/* DEMO CSS */
/* Устанавливает фоновое изображение для второго элемента списка карусели */
.carousel ul li:nth-child(2) {
  background-image: url(images/many_transport_trucks_parked_service_station_sunset_ai_generative.jpg);
}

/* Устанавливает фоновое изображение для третьего элемента списка карусели */
.carousel ul li:nth-child(3) {
  background-image: url(images/truck-with-white-trailer-that-says-scania-side.jpg);
}
/* Устанавливает фоновое изображение для четвертого элемента списка карусели */
.carousel ul li:nth-child(4) {
  background-image: url(https://images.pexels.com/photos/2558605/pexels-photo-2558605.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1500);
}

/* Стили для тегов p и h2 */
p, h2 {
  margin: 15px auto; /* Внешние отступы */
  padding: 0 15px; /* Внутренние отступы */
  max-width: 800px; /* Максимальная ширина */
}

/* Стили для тега h2 */
h2 {
  margin-top: 30px; /* Верхний отступ */
}

